@model IEnumerable<ProjetoEstoque.Web.ViewModels.GrupoProdutoViewModel>
@{
    ViewBag.Title = "Cadastro de Grupo de Produtos";
}
<style>
    #cabecalho_grid > thead > tr > th:nth-child(2){
        width: 110px;
    }

    #cabecalho_grid > thead > tr th:nth-child(3){
        width: 220px;
    } 
    #cadastro {
        width: 70%;
        margin: 0 auto;
    }

    #cadastro_cabecalho {
        border-bottom: 1px #dddddd solid;
    }

    #cadastro_conteudo {
        margin-top: 20px;
    }

    #cabecalho_grid {
        margin-bottom: 20px;
    }
</style>
<div id="cadastro">
    <section id="cadastro_cabecalho">
        <h1>@ViewBag.Title</h1>
    </section>
    <section id="cadastro_conteudo">

        <div id="cabecalho_grid" class="row">
            <div class="col-md-12">
                <a id="btn_incluir" class="btn btn-success" role="button"><i class="glyphicon glyphicon-plus">Incluir</i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="grid_cadastro" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Ativo</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Nome</td>
                                <td>@(item.Ativo ? "Sim" : "Não")</td>
                                <td>
                                    <a class="btn btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil">Alterar</i></a>
                                    <a class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash">Excluir</i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </section>

</div>

@section Scripts{
    <script>
        ()
    </script>
}